/* General styling */
.App {
  text-align: center;
  background-color: transparent; /* Dark background */
  color: #fff; /* White text */
  font-family: 'Arial', sans-serif;
  padding: 40px 20px;
}

h1 {
  font-size: 2.5em;
  color: #f0f0f0; /* Light gray text */
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adding a shadow to the heading */
}

.flag-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.flag-item {
  text-align: center;
  margin: 0 5px;
  background-color: #121212;
  padding: 15px;
 
}

.flag-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px; /* Rounded corners for flags */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); /* Subtle shadow effect for the image */
  transition: transform 0.3s ease-in-out;
}

.flag-image:hover {
  transform: scale(1.1); /* Hover effect to make the image slightly bigger */
}

form {
  margin-top: 30px;
  display: inline-block;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7); /* Slightly darker background for the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

input {
  padding: 12px 20px;
  font-size: 1.2em;
  width: 250px;
  margin-right: 20px;
  border-radius: 8px;
  border: 2px solid #444; /* Dark border */
  background-color: #222; /* Dark background for the input */
  color: #fff; /* White text */
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #f0a500; /* Focus color */
  background-color: #333; /* Darker background when focused */
}

button {
  padding: 12px 20px;
  font-size: 1.2em;
  background-color: #f0a500; /* Golden yellow button */
  color: #121212; /* Dark text color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #ffbb33; /* Lighter yellow on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.feedback {
  margin-top: 30px;
}

.feedback p {
  font-size: 1.4em;
  font-weight: bold;
}

.feedback p:first-child {
  color: #4CAF50; /* Green color for correct answers */
}

.feedback p:last-child {
  color: #FF6347; /* Red color for wrong answers */
}

.score {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  
}
.scoredisplay{
  background-color: #121212;
}
